.hero-container {
    justify-content: space-evenly;
    padding: 100px;
    height: 80vh;
    display: flex;
  }
  
  .desc-container {
    /* height: 244px; */
    width: 544px;
  }
  
  .intro {
    color: var(--white-color);
    font-size: 101px;
    /* font-style: normal;
    font-weight: 400; */
    line-height: 91px;
    font-family: "Bebas Neue";
  }
  
  .intro-line {
    color: var(--offwhite-color);
    font-size: 18px;
    /* font-style: normal;
    font-weight: 400;
    line-height: 27px; */
    font-family: "Manrope";
  }
  
  .profiles {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
  }
  
  .contact-btn1 {
    gap: 16px;
    display: flex;
    padding: 20px 6px 20px 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50px;
    background: var(--green-color);
    color: var(--black-color);
    font-size: 14px;
    /* font-style: normal; */
    font-weight: 550;
    line-height: 100%;
    text-transform: uppercase;
    height: 54px;
  }
  
  .dot {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: var(--black-color);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 5px;
  }
  
  .arrow {
    color: white;
    font-size: 30px;
    font-weight: 570;
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  
  .contact-btn1:hover {
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
  }
  
  .contact-btn1:hover .dot {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .contact-btn1:hover .arrow {
    opacity: 1;
  }
  
  .profile-btn {
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #222;
    width: 45px;
    /* padding: 20px; */
    border: 1px solid black;
    transition: 1s ease;
    z-index: 3;
  }
  
  .profile-btn:hover {
    transform: scale(1.2) rotateY(360deg);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
  }

  .img-card {
    width: 200px;
    height: 250px;
    margin: 1rem auto;
    perspective: 1000px;
    cursor: pointer;
  }
  
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .img-card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
  }
  .card-back {
    transform: rotateY(180deg);
  }
  