  .scroll-indicator {
    position: fixed;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 50;
  }
  
  .labels {
    display: flex;
    flex-direction: column;
    gap: 28px;
    color: #ccc;
    font-family: monospace;
    font-size: 14px;
     cursor: pointer;
  transition: color 0.3s ease;
  }
  
  .line-wrapper {
    position: relative;
    width: 2px;
    height: 300px;
    background: transparent;
  }
  
  .track-line {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #666;
    left: 0;
    border-radius: 2px;
  }
  
  .scroll-thumb {
    position: absolute;
    width: 6px;
    height: 20px;
    border-radius: 3px;
    background-color: white;
    left: -2px;
    top: 10px;
    cursor: grab;
    user-select: none;
    touch-action: none;
  }

.labels span.active {
  color: white;
  font-size: 16px;
}
