/* @import "tailwindcss"; */
@import './components/about-me/about.scss';
@import'./components/contact-me/contact.scss';
@import './components/header-nav/header.scss';
@import './components/her-section/hero.scss';
@import './components/project-section/project.scss';

:root {
  --white-color: #fff;
  --black-color: #0a0a0a;
  --darkgray-color: #484848;
  --offwhite-color: #c7c7c7;
  --green-color: #d3e97a;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--black-color);
  color: var(--white-color);
  scroll-behavior: smooth;
}

.dividing-line {
  width: 45%;
  height: 1px;
  background-color: var(--darkgray-color);
  /* margin-top: 80px; */
}



