.header-container {
    display: flex;
    width: 100%;
    padding: 24px 10px 24px 50px;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-name {
    color: var(--offwhite-color);
    font-size: 32px;
    font-family: "Bebas Neue";
    letter-spacing: -0.32px;
    text-decoration: none;
  }
  
  .links {
    width: 270px;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
  }
  
  .links a {
    color: var(--offwhite-color);
    font-size: 18px;
    text-decoration: none;  
    font-family: "Inter";
    transition: all 0.3s ease;
  }
  
  .links a:hover {
    transform: scale(1.5);
    text-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
  }